body {
    background-color:rgb(0, 0, 0);
}
h1{
    color:rgb(122, 122, 122);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.main-rectangle{
    background-color: white;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
}

.copyright{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-bottom: 5px;
}

.calculator-component{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.child-calculator-component{
    margin-top: 12px;
}

label{
    margin-right: 20px;
}

#rate{
    margin-left: 20px;
}

#principal{
    margin-left: 60px;
}

#years{
    margin-left: 30px;
}
